body{
    margin:0;
    padding:0;
    
}
#container{
    border-radius:50px;
    background-color:grey;
    border: 1px solid grey;
    width:200px;
    height: 500px;
    margin-top:5%;
    margin-left:40%;
    
}
.lighting{
    border-radius:50px;
    background-color:khaki;
    border: 1px solid khaki;
    width:100px;
    height: 150px;
    margin-top:15%;
    margin-left:22%;
    margin-bottom:15%;
    
}
.switch{
    margin-left:28%; 
    width:50%;
    height: 10%;
    margin-top: 5%;
    font-weight:900;
    border-radius: 50px;
    background-color: lawngreen;
    border: hidden;

}